<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card card-stats">
                  <div class="card-footer">
                      <div class="stats" >
                        <div class="card-header card-header-danger">
                            <button mat-button (click)="openAddTaskDialog()"><mat-icon>queue</mat-icon>
                                <span style="font-weight: bold;">Add Our Working Tasks</span>                                           
                            </button>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="card card-stats">
                  <div class="card-footer">
                      <div class="stats" >
                        <div class="card-header card-header-danger">
                            <button mat-button><mat-icon>view_list</mat-icon>
                                <span style="font-weight: bold;">List of Complete Our Tasks</span>                                           
                            </button>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>